/*
 * To use this file:
 * 1) Fill in your information below
 * 2) Delete this comment block
 * 3) Rename this file to .env
 * Note: this project's .gitignore ignores .env files
 */
OPERATOR_ID=0.0.0
OPERATOR_KEY=302e...
TOPIC_ID=0.0.0
NETWORK_NAME=testnet
MIRROR_NODE_ADDRESS=api.testnet.kabuto.sh:50211